<div class="form-box">
  <p class="title-boxes">Adding note to <i>{{book.title}}</i></p>
  <form #addNoteForm="ngForm" (ngSubmit)="addNote()">

    <label class="label-add">Text*:
      <input required type="text" class="form-add" id="text" name="text"
             [(ngModel)]="text" placeholder=""/>
    </label>
    <br/>

    <label class="label-add">Start Page*:
      <input required type="number" class="form-add" id="pageNoteBegins" name="pageNoteBegins"
             [(ngModel)]="pageNoteBegins" placeholder=""/>
    </label>

    <label class="label-add">End Page*:
      <input required type="number" class="form-add" id="pageNoteEnds" name="pageNoteEnds"
             [(ngModel)]="pageNoteEnds" placeholder=""/>
    </label>
    <br />

    <div class="form-button-box">
      <button type="submit" class="form-button">Add Note</button>
      <button (click)="goBack()" class="form-button">Back to Notes</button>
    </div>
  </form>

  {{noteService.getMessage()}}

</div>
